<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../static/sparser/style.css">
  </head>
  <body>
    <div id="floating-panel">
      <input onclick="deleteMarkers();" type=button value="Delete Markers">
    </div>
    <div id="map"></div>
    <script type="text/javascript" src="../../static/sparser/script.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLrj7JZX5mTs9O46LCuaIG2_lMndde4RI&callback=initialize&libraries=visualization,drawing"></script>
  </body>
</html>
